@import "tailwindcss";


@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  color-scheme: light;
  --color-header: #0E1B6B;
  --color-navbar: #131C55;
}

@plugin "daisyui/theme" {
  name: "dark";
  color-scheme: dark;
  --color-header: #0E1B6B;
  --color-navbar: #131C55;
}


html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}


