@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  color-scheme: light;
  --color-header: #0E1B6B;
  --color-navbar: #131C55;
}

@plugin "daisyui/theme" {
  name: "dark";
  color-scheme: dark;
  --color-header: #0E1B6B;
  --color-navbar: #131C55;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


